.mrow{
    display:flex;
    
}
.mleftnav1{
padding:10px;
background-color:#1d124b;
width:26vh;
height:70vh;
margin-top: -4px;
color:darkkhaki;
}
.mcol2{
    background-color:white;
    width:100%;
    margin-top: -4px;
}

.mfooter1
{
    color: white;
    background-color: white;
    margin: 0;
    padding: 10px;
    width:99%;
    margin-top: -4px;
    height:12vh;
}
.c1img1{
    height:40vh;
    margin-top: 55px;
    margin-left: 40px;
}
.c1img2{
    height:39vh;
    margin-top: 55px;
    margin-left: 120px;
}
.c1img3{
    height:39vh;
    margin-top: 55px;
    margin-left: 160px;
} 
