.hrow{
    display:flex;
    
}
.hleftnav1{
padding:10px;
background-color:#1d124b;
width:26vh;
height:70vh;
margin-top: -4px;
color:rgb(200, 232, 167)
}
.hfooter1
{
    background-color: white;
    margin: 0;
    padding: 10px;
    width:98%;
    margin-top: -4px;
    height:3vh;
}
.imgh1{
    height:73vh;
    width:127%;
    margin-top: -4px;
}
/* .f{
    height:-1vh;
    width:60%;
} */
