.crow{
    display:flex;
    
}
.cleftnav1{
padding:10px;
background-color:#1d124b;
width:26vh;
height:70vh;
margin-top: -4px;
color:lightsalmon
}
.ccol2{
    background-color: rgb(48, 134, 138);
    width:100%;
    margin-top: -4px;
}
.cfooter1
{
    color: white;
    background-color: white;
    margin: 0;
    padding: 10px;
    width:99%;
    margin-top: -4px;
    height:12vh;
}
.imgh2{
    height: 10vh;
    width: 100%;
}
.limg{
    height: 72.9vh;
    width: 100%;
}