.layout{
    display: flex;
    margin: 0;
}
.leftnav{
padding:10px;
background-color: deepskyblue;

}
.mainpanel{
padding: 10px;
background-color: gold;
}
.footer
{
    color: white;
    background-color: black;
    margin: 0;
    padding: 10px;
}