/* .Label{
    margin-left: 70vh;
} */
.l1,.l2, .l3, .l4, .l5{
    align-items: center;
    font-size:large;
    align-items: center;
    margin-left: 10vh;
    margin-top: 7vh;
    font-weight: 800;
    /* font-family:cursive; */
}
 .formbody{
    border: 2px solid white;
    width: 90vh;
    height: 70vh;
    margin-left: 60.5vh;
    margin-top: 13vh;
    background-color: white;
    padding:7px;
} 
.ip1{
    margin-left:14vh;
    border :3px solid black;
    width: 40vh;
    height: 6vh;
    background-color: aliceblue;
    color: rgb(152, 152, 220);
    font-size: large;
}
.ip2{
    margin-left:14.5vh;
    border :3px solid black;
    width: 40vh;
    height: 6vh;
    background-color: aliceblue;
    color:rgb(152, 152, 220);
    font-size: large;
}
.ip3{
    margin-left:7.5vh;
    border :3px solid black;
    width: 40vh;
    height: 6vh;
    background-color: aliceblue;
    color:rgb(152, 152, 220);
    font-size: large;
}
.ip4{
    margin-left:24vh;
    border :3px solid black;
    width: 40vh;
    height: 6vh;
    background-color: aliceblue;
    color:rgb(152, 152, 220);
    font-size: large;
}
.ip5{
    margin-left:18vh;
    border :3px solid black;
    width: 40vh;
    height: 6vh;
    background-color: aliceblue;
    color:rgb(152, 152, 220);
    font-size: large;
}
/* .sbtn{
    width: 20vh;
    height: 7vh;
    margin-left: 8%;
    margin-top: 3%;
    font-size: larger;
    background-color: rgb(176, 246, 64);
    color: white;
    border: 2px solid rgb(218, 239, 99);
    border-radius: 10px;
    font-weight: 500;
} */
.sbtn:hover{
    background-color: white;
    color: black;
}
.btn2{
    width: 20vh;
    height: 7vh;
    margin-left: 8%;
    margin-top: 3%;
    font-size: larger;
    background-color: rgb(88, 186, 224);
    color: rgb(230, 239, 74);
    border: 2px solid rgb(99, 122, 239);
    border-radius: 10px;
    font-weight: 500;
    padding:2px;
    }
 ul li{
    list-style: none;
}